<?xml version="1.0" encoding="utf-8"?>
<manifest>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="4poCiO7OnF0DAw5w202kzRkf" />
        <activity
            android:name="org.zywx.wbpalmstar.plugin.uexbaidumap.EBaiduMapBaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
         <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

</manifest>